* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #54380f;
  color: #d69a3a;
}

html,
body {
  background: #d69a3a;
  color: #54380f;
  height: 100%;
  padding: 2vh 2vw;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-size: clamp(12px, 4vw, 30px);
  font-weight: 300;
  gap: 1em;
  height: 100%;
  max-width: 90vw;
  justify-content: space-between;
  text-align: center;
}

.header,
.footer,
.section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  flex-direction: column;
}

.header__title {
  font-size: 2em;
  font-weight: 200;
}

.header__highlight {
  color: #FAFAF9;
}

.section,
.footer {
  align-content: center;
  gap: 1em;
}

.section__image {
  height: 10em;
}

.section__title,
.section__text,
.footer__text {
  width: 100%;
}

.footer__link {
  color: #54380f;
  text-decoration: none;
}

.footer__link--underlined {
  text-decoration: underline;
}

.footer__icon {
  font-size: 1.5em;
}